.item-wrap {
  position: relative;
  width: 100%;
  padding: 20px 0 0;
  z-index: 11;
}

.item__button {
  width: 100%;
  height: 75px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 1.375rem;
  text-align: left;
  line-height: 55px;
  cursor: inherit;

  padding-left: 10px;
  white-space: nowrap;
}

.item__span {
  display: inline-block;
  padding-right: 19px;
  background: url(../../images/nav_item_span_img.gif) no-repeat 100%;
  font-weight: 400;
}

.submenu {
  position: absolute;
  height: 0;
  left: 0;
  top: 100%;
  min-width: 100%;
  overflow: hidden;
  z-index: 100;
  background-color: transparent;
}

.yeah {
  height: 322px;
  animation: showSub 0.3s linear;
}

@keyframes showSub {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.submenu li {
  margin-bottom: 5px;
}
