code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: SDGothic, HGG, Malgun Gothic, "\B9D1\C740 \ACE0\B515", dotum,
    "\B3CB\C6C0", sans-serif;
}

ul,
ol,
li,
a {
  text-decoration: none;
  list-style: none;
  color: black;
}

button {
  margin: 0;
  font-size: 1em;
  font-family: SDGothic, sans-serif;
  color: #000;
  vertical-align: middle;
  background: 0;
  border: none;
  overflow: visible;
  cursor: pointer;
}
